<!-- <div id="search_form_box">
  <form class="form-search" action="/item" method="get" role="search">
    <input class="input-medium search-query" name="q" placeholder="キーワードを入力" type="text" value="<%= params[:q] %>">

    <input class="btn" alt="検索" value="検索" type="submit">
  </form>
</div> -->

<% @new_items.each do |item| %>


<%# if item['itemName'].include?(@search_word) %>
<ul>
	<li><%= "#{item['itemName']}, #{item.price} yen" %></li>
</ul>
   
<%# end %>

<% end %>