// Place all the styles related to the item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


/*alpha*/
.alpha:hover {
	filter: alpha(opacity=70);
	opacity: 0.7;
}
/*.alpha1:hover { background:url(../../images/common/nav_hover.png) repeat-x;}
*/
/*clearfix*/
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.cf {
  min-height: 1px;
}

* html .cf {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
} 


.navbar-toggle {
/* position: relative; */
float: right;
margin-right: 15px;
padding: 9px 10px;
margin-top: 13px;
margin-bottom: 13px;
background-color: transparent;
background-image: none;
border: 0px solid transparent;
/* border-radius: 4px; */
}

.page-header h1{
  font-family:メイリオ;
  color: #2c3e50;
  font-size:20px;
  margin: 0 0 20px 0;
}

ul li{
  list-style:none;
}

/*.item_left{
  float: left;
  width: 15%;
}

.item_right{
  float: left;
   width: 80%;
  margin: 0 0 0 20px;
}*/

.list_p{
  margin:10px 0 0 0;
  disply: block;
}

footer{
	border-top: 1px dashed #999;
	padding : 20px;
}

footer ul li{
	float:left;
  list-style:none;
  color: #2c3e50;
  margin: 0 30px 10px 0;
  display: block;
}

.Footer-bottom{
  float: right;
}

form .input-medium{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 38px;
    padding: 0 0 0 5px;
    width: 250px;
}

.btn{
  margin:0 0 0 5px;
}


